<div class="rounded shadow bg-white p-5">
   <div class="row">
     <div class="col-12 d-flex">
       <h2 class="font-weight-light" > <i class="fas fa-home"></i> Bien immobilier</h2>
       <button class="btn btn-primary ml-auto" type="button" (click)="resetForm()" data-toggle="modal" data-target="#propertiesFormModal"> <i class="fas fa-plus"></i> Ajouter un bien </button>
     </div>
   </div>
    <hr class="mt-1 mb-5 bg-dark">
    <div class="row">
      <div *ngFor="let property of properties; let i=index" class="col-12 shadow-sm p-4 mb-3 bg-light">
        <div class="d-flex">
          <h3 class="font-wight-normal"> {{property?.title}} </h3>
          <div class="ml-auto">
            <button class="btn btn-primary m-1" type="button" (click)="onEditProperty(property)"  data-toggle="modal" data-target="#propertiesFormModal"> <i class="fas fa-edit"></i></button>
            <button class="btn btn-danger m-1" type="button" (click)="onDeteleProperty(i)"> <i class="fas fa-trash-alt"></i></button>
          </div>
        </div>
        <P> {{ property.category }} de {{ property.surface }} m²  et de {{ property.rooms }} pièces </P>
        <p>
          <span class="text-primary" *ngIf="property.sold"> Vendu </span>
          <span class="text-danger" *ngIf="!property.sold" > A vendre </span>
        </p>
      </div>
    </div>

</div>
<!-- Le modal -->
<div class="modal fade" id="propertiesFormModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="propertiesForm" (ngSubmit)="onSubmitPropertiesForm()" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edition d'un bien</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="from-group">
            <input type="text" class="form-control" placeholder="Titre du bien" formControlName="title">
            <div class="input-group mb-3 mt-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Catégorie</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01" formControlName="category">
                <option value="Appartement">Appartement</option>
                <option value="Maison">Maison</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input type="text" placeholder="Surface en (m²)" class="form-control" formControlName="surface">
            </div>
            <div class="form-group col-6">
              <input type="text" name="" id="" placeholder="Nombre de pièces" class="form-control" formControlName="rooms">
            </div>
          </div>
          <div class="form-group">
            <textarea rows="4" class="form-control w-100" placeholder="Description" formControlName="description"></textarea>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Prix" class="form-control" formControlName="price">
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="sold">
            <label class="custom-control-label" for="customSwitch1">
              <span class="text-success" *ngIf="propertiesForm.value.sold">Vendu</span>
              <span class="text-danger" *ngIf="!propertiesForm.value.sold">A vendre</span>
            </label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" type="submit" [disabled]="propertiesForm.invalid">Enregistrer</button>
        </div>

      </div>
    </form>
  </div>
</div>


